NODE_ENV=development
PORT=3001
GRPC_PORT=50051

# postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgresql://kanban_auth:PASSWORD@localhost:5433/kanban_auth

REDIS_URL=redis://:PASSWORD@localhost:6379

# Генерация: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d